= bootstrap_form_for([@article, @article.comments.build]) do |f|
  .row
    %p
      = f.text_field :commenter
  .row
    %p
      = f.text_area :body
  .row
    %p
      = f.submit 'Add Comment',:class => "btn btn-primary"
