.row
  %h1.text-center Recent Articles for You
.row
  %table.table
    %tr
      %th Title
      %th Text
      %th Publish Date
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text
        %td= article.created_at
.row
  .col-md-12.text-right
    %h3
      = link_to 'your articles', controller: 'articles'
