%h1.text-center Current Articals for You
%table.table.table-striped{ :style => "position: absolute; left: 15%; top: 15%; width : 100%" }
  %tr
    %th Title
    %th Text
    %th Publish Date
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.text
      %td= article.created_at
%h3.text-center{ :style => "position: relative; left: 65%; top: 68%; width : 20%" }= link_to 'Go to My Blog', controller: 'articles'
